# Miden SDK network configuration
# Supported values: devnet | testnet | local | https://your-rpc-url
VITE_MIDEN_RPC_URL=testnet

# Prover configuration
# Supported values: devnet | testnet | local | https://your-prover-url
VITE_MIDEN_PROVER=testnet
